* {
	/*border:1px solid #000000;*/
	/*display:none;*/
}

html {
	/*overflow-y: scroll;*/
	height:100%;
}


html, body {
	margin-top:0;
	padding-top:0;
	margin-bottom:0;
	padding-bottom:0;
}

body {
	height:100%;
	background-color:#F7F7F7;
	color:#005078;
	font-family:"Trebuchet MS";
	margin:0;
}

/*#header_container {
	position:relative;
	background-color:#005078;
	width:44%;
	height:100%;
	float:left;
	left: 20px;
}*/

@-webkit-keyframes colorWheel {
  0% { background-color: #d13632; } /* Red */
  20% { background-color: #ec883a; } /* Orange */
  40% { background-color: #005078; } /* Blue — Skip Yellow since there's not enough contrast */
  60% { background-color: #8a2aa7; } /* Indigo */
  80% { background-color: #d33264; } /* Violet */
  100% { background-color: #d13632; } /* Red — have to cycle back so it doesn't skip */
}

header {
	position:fixed;
	left:0px;
	width:50%;
	max-width: 500px;
	height:100%;
	color:#F7F7F7;
	padding-top:11em;
	padding-bottom:17.5em;
	background-color:#005078;
    -webkit-animation-name: colorWheel;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 60s; /* 60 Second Cycle through the colorWheel */
}

h1 {
	text-align:center;
	font-size:3.5em;
}

p {
	text-align:center;
}

form {
	text-align:center;
}


form input:first-child {
	outline:none;
	height:28px;
	width:150px;
	font-size:1.2em;
	font-family:"Trebuchet MS";
	padding-left:0.3em;
	padding-right:0.3em;
	text-align:center;
	border-radius:5px;
}

form input:last-child {
	font-size:.7em;
	visibility:hidden;
	display:block;
}

#error {
	text-align:center;
}

#reset {
	text-align:center;
	margin-top:16em;
}

#button {
	font-size:.8em;
	/*font-weight:bold;*/
	background-color:#F7F7F7;
	color:#005078;
	margin:auto;
	width:7em;
	/*border:solid 1px #fff;*/
	border-radius:3px;
	padding:.2em;
	cursor:pointer;
}

#list_container{
	text-align: right;
}

#target {
	position:relative;
	/*left:-200px;*/
	font-size:3.5em;
	float:right;
	width:50%;
}

.hidden {
	display:none;
}

#target ol li {
	position:relative;
	right:1em;
	font-size:23px;
	margin-left:40px;
	margin-right:150px;
	cursor:pointer:;
}

